.region {
    margin-left: 30px;
    float:left;
    width: 300px;
    height: 50px;
}

.service_box {
    margin: 0px 0px 0px 51px;
    height: 40px;
}

.service_des {
    width: 199px;
    height: 30px;
    float: left;
    margin: 5px 0px 0px 10px;
    padding: 8px 0px 8px 15px;
    box-sizing: border-box;
}

.service_word {
    font-size: 12px;
    font-family: Arial;
    color: #404040;
    margin: auto;
}

.portfolio {
    float: left;
    margin: 10px 0px 0px 15px;
}

.testimonial {
    width: 300px;
    height: 136px;
    font-family: Arial;
    font-size: 12px;
    color: #404040;
    line-height: 12px;
    padding: 13px 22px 0px 15px;
    margin-top: 20px;
    box-sizing: border-box;
}

.blog_box {
    margin-top: 10px;
    width: 630px;
    height: 80px;
}

.blog_des {
    padding: 14px 0px 25px 10px;
    font-family: Arial;
    float:left;
}

p {
    margin: 0px;
}

.blog_pic {
    float:left;
    margin: 10px 0px 10px 10px;
    border-radius: 3px;
}

.blog_p1 {
    font-size: 16px;
    color: #404040;
}

.orange_context {
    color: #a54e03;
    font-family: Arial;
}

.blog_p2 {
    margin-top: 8px;
    font-size: 10px;
    font-style: italic;
}

.tweet1 {
    padding: 14px 0px 14px 15px;
}

.tweet_link {
    font-size: 10px;
}

.tweet_user {
    font-size: 14px;
}

.tweet_space {
    height:11px;
    background-color: inherit;
}

.line {
    width: 270px;
    height: 1px;
    margin: 0px auto;
    background-color: #a54e03;
}
